.btn {
  background: var(--);
  box-shadow: var(--);
  color: var(--);
  font-weight: 400;
  display: block;
  text-align: center;
  transition: var(--transition-base);
  font-size: 14px;
  line-height: 1.3;
  padding: 10px 25px;
  &:hover {
    background: var(--);
    color: var(--);
    box-shadow: var(--);
    // -webkit-box-reflect: var(--reflect);
  }
  &:active {
    background: var(--);
  }
  &.focus-visible {
    background: var(--);
  }
}
